.bottomsheet-wrapper {
  min-height: 200;
  border-radius: 50;

  .bottomsheet-list {

  }

  .bottomsheet-btn {
    width: 80%;
    border-radius: 10;
    background-color: yellow;
    box-shadow: none;
    margin: 5;
  }
}